#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1rem;
}
.filter {
    text-align: center;
    margin-right: 2.5rem;
    margin-top: 2rem;
    opacity:0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.tax-info{
    display: none;
}
.tax-toogle{
    text-align: center;
    margin-right: 2.5rem;
    margin-top: 2rem;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.tax-toogle .form-check-reverse{
    margin: 0;
}
.tax-toogle .form-check-label{
    font-size: 0.75rem;
    margin: 0;
}